.inputRow {
    clear: both;
}

.colLeft {
	width: 40%;
	float: left;
	margin-top:15px;
}

.colRight {
	width: 60%;
	float: left;
}

.convertBtn {
	width: 50%;
	float: left;
}

.clearBtn {
	width: 50%;
	float: left;
}

.label {
	font-size:12;
	font-weight:bold;
}

