.inputRow {
    clear: both;
}

.colLeft {
	width: 40%;
	float: left;
	margin-top:15px;
}

.colRight {
	width: 60%;
	float: left;
}

.convertBtn {
	width: 40%;
	float: left;
	margin-left: 20px;
}

.clearBtn {
	width: 40%;
	float: right;
	margin-right: 20px;
}

.label {
	font-size:12;
	font-weight:bold;
}

.changeLink {
	text-align: center;
}